<%= form_for(@paycheck) do |f| %>
  <% if @paycheck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paycheck.errors.count, "error") %> prohibited this paycheck from being saved:</h2>

      <ul>
      <% @paycheck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :planned_amount %><br>
    <%= f.text_field :planned_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
